.pc {
	display: none;
}

#modal-cont {
	width: 100%;
}

header img {
	width: 50px;
}
	#username {
		line-height: 50px;
		font-size: 15pt;
	}
		header .control {
			position: fixed;
			width: 100%;
			background: #057577;
			text-align: center;
			bottom: 0;
			padding: 0.5em;
		}
			header .control button {
				width: 40%;
				border: none;
				border-radius: 10px;
				padding: 0.8em 1.2em;
				background: #FFF;
				color: #057577;
				cursor: pointer;
				font-weight: bold;
				font-size: 9pt;
				transition: 0.2s;
				border: 3px solid #FFF;
				opacity: 0.9;
			}

main {
	margin-bottom: 4em;
}
main img {
	width: 100%;
}
	#welcome-box {
		margin-bottom: 7em;
	}
		#welcome-box button {
			padding: 1em;
			width: 100%;
			position: fixed;
			bottom: 0;
			font-size: 15pt;
		}


	.container {
		background: rgba(255, 255, 255,0.4);
		box-shadow: 0 0 5px 3px rgba(23, 114, 83, 0.3);
	}
		.wrapper {
			display: flex;
			justify-content: space-around;
			align-items: stretch;
			flex-wrap: wrap;
		}
			.cards {
				display: inline-block;
				padding: 1.5em;
				line-height: 1.5em;
				margin: 1em;
				writing-mode: vertical-rl;
				box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
				background: url("/static/image/card.png");
				font-size: 15pt;
			}	

#msg-status {
	top: 1em;
}
