.sp {
	display: none;
}
header {
	width: 80%;
	margin: 0 auto;
}
	header div {
		display: inline-block;
		width: 100%;
	}
		header img {
			width: 80px;
		}
			#username {
				line-height: 80px;
			}
		header h1 {
			font-size: 14pt;
			float: left;
		}
			#username {
				font-size: 20pt;	
			}
		header .control {
			float: right;
			margin-right: 1em;
			line-height: 80px;			
		}
			header .control button {
				border: none;
				border-radius: 10px;
				padding: 0.8em 1.2em;
				background: #FFF;
				color: #057577;
				cursor: pointer;
				font-weight: bold;
				font-size: 9pt;
				transition: 0.2s;
				border: 3px solid #FFF;
				opacity: 0.9;
			}
			header .control button:hover {
				border: 3px solid #057577;
				opacity: 1;
			}

main {
}
	#welcome-box {
		width: 575px;
		height: 435px;
		background: rgba(255, 255, 255,0.4);
		box-shadow: 0 0 5px 3px rgba(23, 114, 83, 0.3);
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
	}
		#welcome-box button {
			padding: 1em;
		}
		#welcome-box div, #welcome-box form {
			text-align: center;
		}
			#welcome-box img {
				width: 575px;
			}
			#welcome-box button {
				width: 575px;
			}
			#welcome-box button:hover {
				opacity: 0.7;
			}
			
	.container {
		width: 80%;
		background: rgba(255, 255, 255,0.4);
		box-shadow: 0 0 5px 3px rgba(23, 114, 83, 0.3);
		margin: 0 auto;
		margin-top: 1em;
	}
		.wrapper {
			display: flex;
			justify-content: space-around;
			align-items: stretch;
			flex-wrap: wrap;
		}
			.cards {
				display: inline-block;
				padding: 1.5em;
				line-height: 1.5em;
				margin: 1em;
				writing-mode: vertical-rl;
				box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
				background: url("/static/image/card.png");
				font-size: 12pt;
				cursor: pointer;
				transition: 0.3s;
			}
			.cards:hover {
				box-shadow: 0 0 10px 3px rgba(23, 114, 83, 0.7);
			}

#msg-status {
	bottom: 1em;
}