<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>近況圧縮575</title>
	<link rel="stylesheet" href="/static/css/style.css"/>
	<script src="/static/js/page.js"></script>
</head>
<body>
	{% if islogin == False %}
	<header>
		<div id="welcome-box" class="clearfix">
			<div id="w-left">
				<img src="/static/image/logo_no_bg.png" alt="近況圧縮575"/>
			</div>
			<div id="w-right">
				<button>what's this</button>
				<button><a href="{{ url_for('auth') }}">Twitterアカウントでログイン</a></button>
			</div>
		</div>
	</header>
	<main>
	</main>
	{% else %}
	<header>
		<h1 class="bef-login">
			<img src="/static/image/logo_no_bg.png" alt="近況圧縮575"/>
		</h1>
	</header>
	<main>
		<article>
			<p id="msg-pending">575を生成しています...</p>
			<table></table>
		</article>
	</main>
	{% endif %}
</body>
</html>

