<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
	<meta name="Keywords"  content="iOS,safari,iphone,ipad" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>近況圧縮575</title>
	<link rel="stylesheet" href="/static/css/common.css"/>
	<link media="only screen and (max-device-width: 470px)" rel="stylesheet" href="/static/css/smart.css"/>
	<link media="only screen and (min-device-width: 471px)" rel="stylesheet" href="/static/css/style.css"/>
	<script src="/static/js/page.js"></script>
</head>
<body>
	{% if user == False %}
	<main>
		<div id="welcome-box" class="clearfix">
			<div>
				<img class="pc" src="/static/image/concept.png" alt="近況圧縮575"/>
				<img class="sp" src="/static/image/concept_sp.png" alt="近況圧縮575"/>
			</div>
			<form>
				<button formaction="{{ url_for('auth') }}">ログインして近況を圧縮する</button>
			</form>
	{% else %}
	<div id="modal-wrap">
		<div id="modal-cont">
			<p>この575をツイートしますか?</p>
			<h3 id="conf-txt"></h3>
			<form>
				<button type="button" id="confirm-ok">はい</button>
				<button type="button" id="confirm-ng">いいえ</button>
			</form>
		</div>
	</div>
	<header class="aft-login clearfix">
		<img src="/static/image/logo_no_bg.png" alt="近況圧縮575"/>
		<h1>
			<span id="username">{{ user }}</span> さんの近況圧縮575
		</h1>
		<form class="control">
			<button formaction="/">もう一回</button>
			<button formaction="/logout">ログアウト</button>
		</form>
	</header>
	<main>
		<p id="msg-pending">575を生成しています...</p>
		<p id="msg-status"></p>
		<div class="container">
			<div class="no-senryu">
				<p>十分なツイート数がないため、575が作れませんでした(´・ω・｀)</p>
			</div>
			<div class="wrapper"></div>
		</div>
	{% endif %}
		<p id="copyright">&copy; 2017 wassan128</p>
	</main>
</body>
</html>

